* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #161a1d;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.underline {
  width: 78px;
  height: 4px;
  background-color: #3AB0E2;
  margin: 0 auto;
}

header {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 10%;
  background-color: #161a1d;
  z-index: 100;
}

header .nav__links {
  list-style: none;
}

header .nav__links li {
  display: inline-block;
  padding: 0 2rem;
}

header .nav__links li a {
  position: relative;
  width: 90px;
  height: 40px;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  color: #edf0f1;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .nav__links li a::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  z-index: -1;
  background-color: #3AB0E2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .nav__links li a:hover::before {
  width: 100%;
}

header .nav__links li a:hover {
  color: #161a1d;
}

header button {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #161a1d;
  text-transform: uppercase;
  background-color: #3AB0E2;
  border: 1px solid #161a1d;
  padding: 0.9rem 1rem;
  letter-spacing: 1px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

header button:hover {
  color: #edf0f1;
  background-color: #161a1d;
  border-color: #edf0f1;
}

.hero-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-image: url("../img/background-image.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.hero-img .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}

.hero-img .main-logo {
  display: block;
}

.hero-img .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #edf0f1;
  font-size: 26px;
  z-index: 20;
}

section {
  height: 100vh;
  background-color: #495057;
}

section h3 {
  text-align: center;
  padding-top: 2rem;
  font-size: 4.6rem;
  color: #edf0f1;
  font-weight: 400;
}

.about .about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .about-box img {
  height: 582px;
  margin: 0 2rem 5rem 5rem;
}

.about .about-box p {
  font-size: 24px;
  color: #edf0f1;
}

.offer .offer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}

.offer .offer-box .box {
  width: 350px;
  height: 500px;
  background-color: #fff;
  margin: 1rem 2.5rem;
  border-radius: 15px;
  -webkit-box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.offer .offer-box .box h4 {
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  margin: 2rem 0;
}

.offer .offer-box .box:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.3);
}

.contact .contact-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-box p {
  font-size: 24px;
  color: #edf0f1;
  padding: 1rem;
}

.contact .contact-box a {
  color: #edf0f1;
  font-size: 24px;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.contact .contact-box a:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  color: #3AB0E2;
}

.scroll {
  height: 100vh;
  background-color: #ddd;
}
/*# sourceMappingURL=style.css.map */