* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  background-color: #161a1d;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.underline {
  width: 78px;
  height: 4px;
  background-color: #3AB0E2;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 10%;
  background-color: #161a1d;
  z-index: 100;
}

header .nav__links {
  list-style: none;
}

header .nav__links li {
  display: inline-block;
  padding: 0 2rem;
}

header .nav__links li a {
  position: relative;
  width: 90px;
  height: 40px;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  color: #edf0f1;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .nav__links li a::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  z-index: -1;
  background-color: #3AB0E2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .nav__links li a:hover::before {
  width: 100%;
}

header .nav__links li a:hover {
  color: #161a1d;
}

header button {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #161a1d;
  text-transform: uppercase;
  background-color: #3AB0E2;
  border: 1px solid #161a1d;
  padding: 0.9rem 1rem;
  letter-spacing: 1px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

header button:hover {
  color: #edf0f1;
  background-color: #161a1d;
  border-color: #edf0f1;
}

.hero .hero-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-image: url("../img/main-bgc.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.hero .hero-img .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}

.hero .hero-img .main-logo {
  display: block;
}

.hero .hero-img .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #edf0f1;
  font-size: 26px;
  z-index: 20;
}

.hero .hero-img .text h1 {
  font-size: 92px;
  margin: 5rem 0;
}

section {
  height: 100vh;
  background-color: #585859;
}

section h3 {
  text-align: center;
  padding-top: 2rem;
  font-size: 4.6rem;
  color: #edf0f1;
  font-weight: 400;
}

.about .about-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("../img/puzzle-orange.png");
  background-position: center;
  background-size: cover;
  margin-top: 1rem;
  border-radius: 5px;
  z-index: 0;
}

.about .about-box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -10;
}

.about .about-box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-box .text img {
  height: 582px;
  margin: 0 2rem 0 5rem;
}

.about .about-box .text p {
  font-size: 24px;
  padding: 0 5rem 0 0;
  color: rgba(0, 0, 0, 0.6);
}

.offer .hero-img {
  height: 100%;
  position: relative;
  background-image: url("../img/puzzle-yellow.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.offer .hero-img .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -10;
}

.offer .hero-img .content {
  height: 100%;
}

.offer .hero-img .content .offer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 80%;
}

.offer .hero-img .content .offer-box .box {
  width: 50%;
  background-color: #fff;
  margin: 1rem 2.5rem;
  border-radius: 15px;
  -webkit-box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer .hero-img .content .offer-box .box h4 {
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  margin: 2rem 0;
  color: rgba(0, 0, 0, 0.6);
}

.offer .hero-img .content .offer-box .box-1 {
  height: 200px;
}

.offer .hero-img .content .offer-box .box-1 ul {
  padding-top: 1rem;
}

.offer .hero-img .content .offer-box .box-1 p {
  font-size: 18px;
}

.offer .hero-img .content .offer-box .box-2 {
  height: 400px;
}

.offer .hero-img .content .offer-box .box-2 ul {
  padding: 1rem 8rem;
}

.offer .hero-img .content .offer-box .box-2 ul p {
  font-size: 17px;
  padding: .2rem;
}

.offer .hero-img .content .offer-box .box:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.3);
}

.education .education-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("../img/puzzle-red.png");
  background-position: center;
  background-size: cover;
  margin-top: 1rem;
  border-radius: 5px;
  z-index: 0;
}

.education .education-box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -10;
}

.education .education-box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education .education-box .text img {
  width: 623px;
  margin: 0 5rem 0 5rem;
}

.education .education-box .text p {
  font-size: 24px;
  padding-left: 7rem;
  color: #edf0f1;
}

.recomendation .hero-img {
  height: 100%;
  position: relative;
  background-image: url("../img/puzzle-dark-blue.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.recomendation .hero-img .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -10;
}

.recomendation .hero-img .content {
  height: 100%;
}

.recomendation .hero-img .content .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recomendation .hero-img .content .container .box {
  width: 280px;
  height: 520px;
  margin: 0 1rem 10rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.recomendation .hero-img .content .container .box p {
  font-size: 14px;
  margin: 1rem 2rem;
}

.recomendation .hero-img .content .container .box:hover {
  -webkit-transform: scale(102%);
          transform: scale(102%);
  -webkit-box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}

.contact .contact-box {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10rem;
}

.contact .contact-box p {
  font-size: 24px;
  color: #edf0f1;
  padding: 1rem;
}

.contact .contact-box a {
  color: #edf0f1;
  font-size: 24px;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.contact .contact-box a:hover {
  color: #3AB0E2;
}

@media (max-width: 992px) {
  .offer .box {
    width: 500px;
    margin: 0 0;
  }
  .about img {
    height: 200px;
    margin: 0 2rem 0 5rem;
  }
  .about p {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */