@import './colors';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $dark-color;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.underline {
    width: 78px;
    height: 4px;
    background-color: $active-color;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 10%;
    background-color: $dark-color;
    z-index: 100;

    .nav__links {
        list-style: none;

        li {
            display: inline-block;
            padding: 0 2rem;

            a {
                position: relative;
                width: 90px;
                height: 40px;
                padding: 1rem 1rem;
                font-size: 1.6rem;
                color: $text-color;
                text-decoration: none;
                text-align: center;
                line-height: 40px;
                transition: all .3s ease;
            }

            a::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0;
                left: 0;
                z-index: -1;
                background-color: $active-color;
                transition: all .3s ease;
            }

            a:hover::before {
                width: 100%;
            }

            a:hover {
                color: $dark-color;
            }
        }
    }

    button {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        color: $dark-color;
        text-transform: uppercase;
        background-color: $active-color;
        border: 1px solid $dark-color;
        padding: 0.9rem 1rem;
        letter-spacing: 1px;
        transition: all .3s ease;
        cursor: pointer;
    }

    button:hover {
        color: $text-color;
        background-color: $dark-color;
        border-color: $text-color
    }
}

.hero{
    .hero-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-image: url('../img/main-bgc.png');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    
        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .6);
            z-index: -10;
        }
    
        .main-logo {
            display: block;
        }
    
        .text {
            display: flex;
            justify-content: center;   
            align-items: center;
            height: 100%;
            color: $text-color;
            font-size: 26px;
            z-index: 20;
        }
    }
}

section {
    height: 100vh;
    background-color: $lighter-dark;

    h3 {
        text-align: center;
        padding-top: 2rem;
        font-size: 4.6rem;
        color: $text-color;
        font-weight: 400;
    }
}

.about {
    .about-box {
        position: relative;
        display: flex;
        height: 80%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-image: url('../img/puzzle-orange.png');
        background-position: center;
        background-size: cover;
        margin-top: 1rem;
        border-radius: 5px;
        z-index: 0;

        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
            z-index: -10;
        }

        .text {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            img {
                height: 582px;
                margin: 0 2rem 5rem 5rem;
            }
    
            p {
                font-size: 24px;
                color: $dark-text-color;
            }
        }
    }
}

.offer {

    .hero-img {
        height: 100%;
        position: relative;
        background-image: url('../img/puzzle-yellow.png');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;

        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
            z-index: -10;
        }

        .content {
            height: 100%;

            .offer-box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                height: 80%;
        
                .box {
                    width: 350px;
                    height: 500px;
                    background-color: #fff;
                    margin: 1rem 2.5rem;
                    border-radius: 15px;
                    box-shadow: 4px 7px 10px rgba(0, 0, 0, .3);
                    transition: all .3s ease;
        
                    h4 {
                        text-align: center;
                        font-weight: 400;
                        font-size: 28px;
                        margin: 2rem 0;
                        color: $dark-text-color;
                    }
                }
        
                .box:hover {
                    transform: scale(105%);
                    box-shadow: 6px 9px 12px rgba(0, 0, 0, .3);
                }
            }
        }
    }
}

.recomendation {

    .hero-img {
        height: 100%;
        position: relative;
        background-image: url('../img/puzzle-dark-blue.png');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;

        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
            z-index: -10;
        }

        .content {
            height: 100%;
    
            .container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
        
                .box {
                    width: 260px;
                    height: 420px;
                    margin: 0 1rem 10rem 1rem;
                    background-color: #fff;
                    border-radius: 5px;
                    box-shadow: 3px 6px 9px rgba(0, 0, 0, .3);
                    transition: all .3s ease;
                }
        
                .box:hover {
                    transform: scale(102%);
                    box-shadow: 5px 7px 10px rgba(0, 0, 0, .3);
                }
            }
        }
    }
}

.contact {

    .contact-box {
        height: 80vh;
        display: flex;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10rem;

        p {
            font-size: 24px;
            color: $text-color;
            padding: 1rem;
        }

        a {
            color: $text-color;
            font-size: 24px;
            text-shadow: 0 3px 4px rgba(0, 0, 0, .3);
            transition: all .3s ease;
        }

        a:hover {
            color: $active-color;
        }
    }
}
