@import './colors';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $dark-color;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    background-color: $dark-color;
    align-items: center;
    padding: 3rem 10%;
    z-index: 100;

    .logo {
        cursor: pointer;
    }

    .nav__links {
        list-style: none;

        li {
            display: inline-block;
            padding: 0 2rem;

            a {
                position: relative;
                width: 90px;
                height: 40px;
                padding: 1rem 1rem;
                font-size: 1.6rem;
                color: $text-color;
                text-decoration: none;
                text-align: center;
                line-height: 40px;
                transition: all .3s ease;
            }

            a::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0;
                left: 0;
                z-index: -1;
                background-color: $active-color;
                transition: all .3s ease;
            }

            a:hover::before {
                width: 100%;
            }

            a:hover {
                color: $dark-color;
            }
        }
    }

    button {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        color: $dark-color;
        text-transform: uppercase;
        background-color: $active-color;
        border: 1px solid $dark-color;
        padding: 0.9rem 1rem;
        letter-spacing: 1px;
        transition: all .3s ease;
        cursor: pointer;
    }

    button:hover {
        color: $text-color;
        background-color: $dark-color;
        border-color: $text-color
    }
}


.hero-img {
    position: relative;
    height: 100vh;
    background-image: url('../img/the-ball-g5d71c559c_1920.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;

    .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: -10;
    }

    .text {
        display: flex;
        justify-content: center;   
        align-items: center;
        height: 100%;
        color: $text-color;
        font-size: 26px;
        z-index: 20;
    }
}

.scroll {
    height: 100vh;
    background-color: #ddd;
}